---
import Navbar from "./ui/Navbar.astro"
import InfoIcon from "../assets/Contact.svg"
---

<div class="container">

	<Navbar /> 

	<div id="hero">
		<div class="heroBlock" id="heroBlock1">
			<p>
          		Hello, I am currently a Student at UNCC.<br />Check out some of my
          		<a id="heroProjLink" href="/proj"
            	>projects</a
          		>
          		and tell me what I could do better!
        	</p>
		</div>
		<div class="heroBlock" id="heroBlock2">
			<p>
          		This website is simple as I enjoy thing's simply working.<br />However,
          		any issues or improvement's that could be made please contact me with
          		any given method on this site.
        	</p>
		</div>
	</div>

	<div id="footer">
		<div id="icons">
			<a
			target="_blank"
			href="mailto:teejmcsteez+website@gmail.com"
				><InfoIcon
					id="contact"
					height="20px"
					width="40px"
				/>
			</a>
		</div>
		<p class="p-2 m-2">
			Built with <a
			target="_blank"
			href="https://astro.build/"
			>Astro</a
			> - Hosted by Me with <a
			target="_blank"
			href="https://nginx.org/"
			>
			NGINX</a
			>
			and <a
			target="_blank"
			href="https://www.cloudflare.com"
			>
			Cloudflare</a
			>
		</p>
	</div>

</div>

<style>
	.container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		flex-grow: 1;
	}
	#hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	#contact:hover {
		scale: 125%;
	}
	.heroBlock {
		width: 50vw;
		margin: .5rem;
		padding: .5rem;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
		text-align: center;
	}
	.heroBlock>p {
		background-color: #3a3840;
		padding: 2rem;
		padding: 1rem;
		border-radius: 1rem;
	}
	#heroProjLink {
		color: white;
		text-decoration: underline;
	}
	#footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: end;
		text-align: center;
		padding: 1rem;
		margin-top: auto;
		width: 100%;
	}
	#footer a {
		color: white;
	}
	@media (prefers-color-scheme: dark) {
		#contact {
			filter: invert();
		}
	}
	@media (prefers-color-scheme: light) {
		.heroBlock>p {
			color: white;
		}
	}
</style>