---
import Layout from "../layouts/Layout.astro";
import Navbar from "./ui/Navbar.astro";
---

<Layout>
    <Navbar />
    <h1 class="privacy-text">Privacy Notice</h1>
    <p class="privacy-text">
        This site uses a cookie to track the number of times a user has returned
        home to change the sub-text animation in the about sub-text.
    </p>
</Layout>

<style>
    .privacy-text {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
    }
</style>
