<div class="container">
    <div id="projectLinks">
    <a
      href="/projects/homelab/index.html"
    >
      Homelab
    </a>
    <a
      href="/projects/salon/index.html"
    >
      Salon Website
    </a>
    <a
      href="https://github.com/TeejMcSteez/HAWebRTCFix"
      target="_blank"
    >
      WebRTC Monkeypatch (GitHub)
    </a>
    <a
      href="/"
    >
      Back
    </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #projectLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;    
  }
  a {
    margin: 1rem;
    padding: .5rem;
    color: black;
    background-color: #3a3840;
    border-radius: .1rem;
    text-decoration: none;
    color: white;
  }
  a:hover {
    scale: 125%;
  }
</style>