<div class="container">
  <div id="projectLinks">
    <a href="/projects/homelab/index.html"> Homelab </a>
    <a href="/projects/salon/index.html"> Salon Website </a>
    <a href="https://github.com/TeejMcSteez/HAWebRTCFix" target="_blank">
      WebRTC Monkeypatch (GitHub)
    </a>
    <a href="/"> Back </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #projectLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    background-color: var(--button-group-background-color-light);
    border-radius: 1rem;
  }
  @media (prefers-color-scheme: dark) {
    #projectLinks {
      background-color: var(--button-group-background-color-dark);
    }
  }
  a {
    margin: 1rem;
    padding: 0.5rem;
    color: black;
    background-color: #3a3840;
    border-radius: 0.25rem;
    text-decoration: none;
    color: white;
    font-size: larger;
  }
  a:hover {
    scale: 125%;
  }
</style>
